{% extends "layout.html" %}

{% from "macros.html" import blog_post %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    </div>
    <div class="big-title">
        <div class="wrapper">
            <h1>
                {{ this.title }}
            </h1>
            <div class="details">
                {{ this.parent.content_kind | capitalize }} del
                {{ this.pub_date | dateformat("long", locale="it") }}
            </div>
        </div>
    </div>
    <div class="wrapper">

    <div class="blog-post-content">
        {{ this.body }}
    </div>
{% endblock %}
