<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}Senza titolo{% endblock %} - MERGE-it
        </title>

        <link rel="shortcut icon" href="{{ '/static/images/favicon.png' | asseturl }}">

        <link rel="stylesheet" href="{{ '/static/bootstrap.min.css' | asseturl }}">
        <link rel="stylesheet" href="{{ '/static/leaflet.css' | asseturl }}">
        <link rel="stylesheet" href="{{ '/static/style.css' | asseturl }}">

        <link rel="alternate" href="{{ '/news@atom/news' | url }}" title="MERGE-it" type="application/atom+xml">

        <meta property="og:site_name" content="merge-it" />
        <meta property="og:title" content="MERGE-it" />
        <meta property="og:description" content="La Community si incontra" />
        <meta property="og:url" content="https://merge-it.net/" />
        <meta property="og:image" content="https://merge-it.net/static/images/fb.png" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="it_IT" />

        <meta name="twitter:title" content="merge-it" />
        <meta name="twitter:creator" content="@MERGE_it" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="https://www.merge-it.net/" />
        <meta name="twitter:image" content="https://merge-it.net/static/images/avatar.png">
    </head>
    <body {% block body_extra %}{% endblock %}>
        <div id="main-wrapper">
            <header class="header">
                <!--
                {% set latest = site.query("/news").first() %}
                {% if latest %}
                <div class="latest-news">
                    Ultima notizia:
                    <a href="{{ latest | url }}">{{ latest.title }}</a>
                </div>
                {% endif %}
                -->
                <nav class="navbar main-menu" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="{{ '/static/images/logo.png' | asseturl }}" alt="MERGE-it"></a>
                        </div>

                        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                            <ul class="nav navbar-nav">
                                <li class="hidden"><a href="{{ '/index.html#page-top' | url }}"></a></li>
                                <li><a href="{{ '/index.html#section-intro' | url }}">Info</a></li>
                                <li><a href="{{ '/location' | url }}">Location</a></li>
                                <li><a href="{{ '/index.html#section-ajenda' | url }}">Programma</a></li>
                                <li><a href="{{ '/index.html#section-contacts' | url }}">Contatti</a></li>
                                <!-- <li><a href="{{ '/news/' | url }}">Notizie</a></li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            {% block body %}{% endblock %}

            <section id="section-contacts" class="section-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>CONTATTI</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="lead">
                                Hai domande, dubbi o perplessità? Non esitare a scriverci, chiamarci o twittarci!
                            </p>

                            <div class="direct-contacts">
                                <span>
                                    <img src="{{ '/static/fa/globe.svg' | asseturl }}"> merge-it.net
                                </span>
                                <span>
                                    <img src="{{ 'static/fa/twitter.svg' | asseturl }}"> @MERGE_it
                                </span>
                                <span>
                                    <img src="{{ 'static/fa/envelope-o.svg' | asseturl }}"> info@merge-it.net
                                </span>
                                <span>
                                    <img src="{{ 'static/fa/phone.svg' | asseturl }}"> +39 348.7254214
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="footer">
                <div class="copyright-section">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="copytext text-center"><a href="https://uicookies.com/downloads/conference-responsive-bootstrap-event-management-html5-template-free-download/">Conference Template</a>, CC-BY-SA-3.0 design by <a href="https://uicookies.com">uiCookies</a> | <a href="https://github.com/merge-it/2018/tree/master/sito">Codice sorgente</a></div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="{{ '/static/js/jquery-2.1.4.min.js' }}"></script>
        <script src="{{ '/static/js/bootstrap.min.js' }}"></script>
        <script src="{{ '/static/js/jump.min.js' }}"></script>
        <script src="{{ '/static/js/leaflet.js' }}"></script>
        <script src="{{ '/static/js/scripts.js' }}"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setCookieDomain", "*.merge-it.net"]);
            _paq.push(["setDoNotTrack", true]);
            _paq.push(["disableCookies"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.madbob.org/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '7']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Piwik Code -->
    </body>
</html>
