{% macro menu_item(this, link, label) %}
    {% if link == "/" %}
        {% set condition = this._path == "/" %}
    {% else %}
        {% set condition = this.is_child_of(link) %}
    {% endif %}
    <li><a href="{{ link | url }}"{% if condition %} class="active"{% endif %}>
        {{ label }}
    </a></li>
{% endmacro %}

{% macro paginate(pagination) %}
    <div class="pagination">
        <span class="prev">
            {% if pagination.has_prev %}
                <a href="{{ pagination.prev | url }}">
                    &laquo; Pagina precedente
                </a>
            {% else %}
                &laquo; Pagina precedente
            {% endif %}
        </span>
        <span class="current">
            <b>{{ pagination.page }}</b>
        </span>
        <span class="next">
            {% if pagination.has_next %}
                <a href="{{ pagination.next | url }}">
                    Pagina successiva &raquo;
                </a>
            {% else %}
                Pagina successiva &raquo;
            {% endif %}
        </span>
    </div>
{% endmacro %}

{% macro blog_post(post, content_kind, preview=false) %}
    <div class="post {% if preview %}preview{% endif %}">
        <div class="content-head">
            <h2>
                {% if preview %}
                    <a href="{{ post | url }}">{{ post.title }}</a>
                {% else %}
                    {{ post.title }}
                {% endif %}
            </h2>
            <div class="meta">
                {{ content_kind | capitalize }} del
                {{ post.pub_date | dateformat("long", locale="it") }}
            </div>
        </div>

        {{ post.body }}
    </div>
{% endmacro %}

{% macro show_list(data, end="") %}
    {% for item in data %}
        {{- caller(item).strip() -}}
        {%- if loop.revindex0 > 1 -%}
            ,
        {%- elif loop.revindex0 == 0 -%}
            {{ end }}
        {% elif loop.revindex0 == 1 %}
            e
        {% endif %}
    {% endfor %}
{% endmacro %}
