{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <br>

    <section class="section-wrapper section-talk">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>{{ this.title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="alert alert-info">
                        <p>
                            Relatore: <b>{{ this.speaker }}</b>
                        </p>
                        <p>
                            Dalle {{ this.start }} alle {{ this.stop }}.
                        </p>
                    </div>

                    {{ this.description }}
                </div>
            </div>

            {% if this.attachments.get("slides.pdf") %}
                <div class="text-center">
                    <a class="btn btn-primary" href="{{ this.attachments.get("slides.pdf") | url }}">
                        Scarica le slide
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
